#intro
{color:palevioletred;}
body
{background-color: lavenderblush;}
#BannerKentucky
{color:palevioletred; width:inherit;height:inherit; border-bottom: 5px; padding-bottom: 5px; border-bottom-color: maroon; border-bottom-style: solid; border-top: 5px; border-top-color: maroon; border-top-style: solid; padding-top: 5px;}
p
{color:palevioletred}
a
{color:palevioletred}
#WhyHeader
{color:palevioletred; text-decoration: underline;}
#introp
{ border: 30px; padding: 5px; border-style: double; border-color:maroon; text-align: center;}
#FaceCare
{color: palevioletred; text-decoration: underline; text-decoration-color: maroon;}
#resource1
{color: black;}
#resource2
{color: black;}
#resource3
{color: black;}
#resource4
{color: black;}
svg
{color:crimson;}
#tooltip
{
    position: absolute;
    width:29px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    pointer-events:none;
    color: black;
    
}
.hidden
{ 
display: none;
    
}
.off,.fade
{
    opacity:.1;
}
#div1
{
float: left;
 height: 5%;
 width: 50%;
position: relative;
}
#div2
{ float:left;
width:10%;
    height:30%;
    position: relative;
}
#div3
{float:left ;
    width: 50%;
    height: 5%;
    position: relative;
}
path
{
    stroke:gray;
    fill:none;
    stroke-width:3;
}
.suicide_deaths
{ fill: palevioletred;
}

.heroin_treatment_admissions
{ fill: palevioletred;
}
#call
{
    text-align: center;
    color: palevioletred;
    border: 3px;
    border-style: solid;
    border-color:maroon;
    padding: 1px;
  
}
 #call2   
{
   
    color: palevioletred;
    border: 3px;
    border-style: solid;
    border-color:maroon;
    padding: 1px;
    position: absolute;
}
#why
{
    color:black;
    border: 3px;
    border-style:solid;
    border-color:maroon;
    padding: 10px;
}
#db
{ 
     text-align: center;
    color: palevioletred;
    border: 3px;
    border-style: solid;
    border-color:maroon;
    padding: 1px;
}
#h1
{ text-decoration: underline;
}
#links
{float:left;
    width: 50%;
    height:100%;
}
#picture1
{float: right;
    width: 50%;
    height:inherit;
   
}
#bottom1
{
    float:left;
    width:100%;
        height:inherit;
}

}
#FaceCare
{ text-align: center;
}